fastapi~=0.115.4
uvicorn~=0.32.0
alembic~=1.14.0
SQLAlchemy~=2.0.36
PyJWT~=2.9.0
python-dotenv~=1.0.1
psycopg2-binary
pydantic~=2.9.2
passlib~=1.7.4
bcrypt
jwt~=1.3.1
openai-whisper~=20240930
starlette~=0.41.2
whisper